<div class="m-3" style="text-align: center">
  <h3>{{ title }}</h3>
</div>
<div class="d-flex justify-content-center">
  <div class="card col-md-10" style="width: 30rem">
    <form
      class="m-4"
      [formGroup]="addform"
      #form="ngForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="mb-3">
        <label for="firstname" class="form-label">Group Name</label>
        <input
          type="text"
          class="form-control"
          name="Name"
          required
          formControlName="Name"
          [ngClass]="{ 'is-invalid': submit && formData.Name.errors }"
        />
        <div *ngIf="submit && formData.Name.errors" class="invalid-feedback">
          <div *ngIf="formData.Name.errors['required']">
            Group Name is required!
          </div>
        </div>
      </div>
      <button
        type="button"
        [routerLink]="['']"
        class="btn btn-outline-dark mx-3 mt-1"
      >
        <- Back to Groups
      </button>
      <button
        type="submit"
        class="btn btn-outline-secondary mx-4"
        (click)="resetForm()"
      >
        Clean
      </button>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>
